<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
        <link rel="stylesheet" href="../styles/proj.css">
        <title>Python</title>
    </head>
    <body>
        
    <section class="karuzela"> 
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators black">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" height="930vh" src="../images/django-fb/1.png" alt="First slide">
               
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="930vh" src="../images/django-fb/2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="930vh" src="../images/django-fb/3.png" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="930vh" src="../images/django-fb/4.png" alt="Fourth slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="930vh" src="../images/django-fb/6.png" alt="Fifth slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="930vh" src="../images/django-fb/5.png" alt="six slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="930vh" src="../images/django-fb/7.png" alt="seven slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="930vh" src="../images/django-fb/8.png" alt="eight slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div></section>
        <section class="overview">
            <div class="opis">
                <span>
                    Od Pyhtona zacząłem swoją  poważniejszą przygodę z programowaniem w listopadzie 2019. <br>
                    Przeszedłem 30 godzinny kurs wprowadzający a następnie parę miejszych. <br>
                    Odwołujących się do tematów :
                    <ul>
                        <li>Automatyzacji</li>
                        <li>Machine learning i Data Science</li>
                        <li>Web Developmentu <ul><li>Flask</li><li>Django</li> </ul> </li>
                    </ul> 
                    Na slajdach ukazany jest mój projek strony społecznościowej w Django.
                
             </span>
            </div>
            <div class="kursy">
                <span>
                Kursy z których czerpałem wiedzę: 
                <ul>
                    <li><a href="https://www.udemy.com/course/complete-python-developer-zero-to-mastery/">
                        Complete Python Developer 
                    </a></li>
                    <li> <a href="https://www.youtube.com/watch?v=Z4D3M-NSN58&list=PLzMcBGfZo4-kQkZp-j9PNyKq7Yw5VYjq9&ab_channel=TechWithTimTechWithTimZweryfikowano"> Django </a> </li>
                </ul>
            </span>
            <span class="arrow"> 
              <a href="../index.html">  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="Black" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                  </svg></a>
            </span>
            </div>
        </section>

    </body> 
</html>