@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.home {
  background-image: url("../images/back2.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
.title {
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  right: 50%;
  font-size: 5.5vw;
  color: rgb(255, 255, 255);
  transform: translate(62%, -78%);
  font-weight: 500;
}
.arrow {
  position: absolute;
  top: 70%;
  left: 49.3%;
  transform: translate(+68%, -40%);
}
.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: arrow 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}
.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

nav ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  animation: fadein 5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
nav ul li a:hover {
  background: #fff;
  color: #2b1055;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  animation: fadein 2s;
}
.nav-links {
  display: flex; /* wypisze w jednej lini */

  justify-content: space-around;
  width: 35%;
}
.nav-links li {
  list-style: none; /* usuwanie stylu z listy kropki itp */
}
.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 14px;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}
/* na telefon */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .title {
    font-size: 3.5rem;
    left: -72%;
  }
}
.nav-active {
  transform: translateX(0%);
}
/* animacja */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
/* animacja burgera */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0px;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
